html,body,ul,li,p,table,h1,h2,h3,h4,h5,h6{margin:0;padding:0}
img{border:none}
a{text-decoration: none}
ul,li{list-style: none;}
body {
    font-family: "Microsoft yahei";
    font-size: 12px;
    font-style: normal;
    color: #666666;
}
.title_jx {
    width: 970px;
    margin: 15px auto;
}
.title_jx ul.step2 {
    background: url(../images/step002.png) no-repeat left center;
    width: 420px;
    height: 25px;
    line-height: 25px;
    font-weight: bold;
    font-size: 14px;
    float: right;
    margin-top: 7px;
}
.title_jx ul li {
    float: left;
    text-align: center;
    width: 140px;
    color: #FFFFFF;
}
.title_jx ul li.color1 {
    color: #979797;
}
.clear {
    line-height: 0;
    font-size: 0;
    overflow: hidden;
    clear: both;
    width: 100%;
}
.title_jx .momey {
    margin: 40px auto;
    width: 620px;
    background: url(../images/pic014.png) no-repeat left 10px;
    padding-left: 70px;
    padding-top: 34px;
    min-height: 35px;
}
h1 {
    width: 412px;
}
.title_jx .momey p {
    font-size: 12px;
    line-height: 22px;
    color: #666666;
}
.title_jx .momey font {
    color: #ff6600;
    font-size: 12px;
    font-weight: normal;
}
.title_jx .dingdan {
    width: 845px;
    margin: 0 auto;
}
.dingdan1 {
    position: relative;
}
.hdpic {
    position: absolute;
    right: -40px;
    top: -30px;
    background: url(../images/hdpic.png) no-repeat left top;
    width: 174px;
    height: 119px;
}
.title_jx .dingdan .box3 {
    border: solid 1px #dedede;
    font-size: 12px;
}
.title_jx .dingdan table th {
    background: #f0f0f0;
    border-bottom: solid 1px #dedede;
    height: 28px;
    text-align: left;
    font-weight: normal;
    font-size: 14px;
    padding: 0 30px;
}
.dingdan1 table td {
    height: 36px;
    line-height: 36px;
    font-size: 14px;
}
.hei {
    color: #000000;
}
.tabs {
    padding-top: 38px;
    position: relative;
    width: 845px;
    margin: 0 auto;
    margin-top: 36px;
}
.tabs .mt {
    background-color: #F7F7F7;
    border: solid #DDDDDD;
    border-width: 1px 1px 0;
    height: 30px;
    line-height: 30px;
    overflow: visible;
    position: absolute;
    width: 843px;
    top: 7px;
}
.tabs .tab {
    float: left;
    overflow: visible;
}
.tabs .tab .curr {
    border: solid #ff9c5a;
    border-width: 2px 2px 0;
    height: 38px;
    background-color: #FFFDEE;
    margin-top: -8px;
    line-height: 37px;
    color: #FF6600;
    margin-bottom: -1px;
    position: relative;
    margin-left: -1px;
    font-size: 18px;
}
.tabs .tab li {
    float: left;
    padding-left: 24px;
    padding-right: 24px;
    font: 16px/29px "microsoft yahei";
    color: #666666;
    cursor: pointer;
}
.subtit {
    font-weight: normal;
    margin-bottom: 17px;
    font-size: 12px;
    padding-left: 5px;
}
.tabs .mc {
    border: 2px solid #ff9c5a;
    background-color: #FFFDEE;
    padding: 20px;
}
.mc .list-bank li {
    border: 1px solid #DDDDDD;
    background-color: #ffffff;
    float: left;
    padding: 6px;
    width: 136px;
    margin: 0 5px;
    margin-bottom: 10px;
    cursor: pointer;
    text-align: left;
}
.list-bank .jdradio {
    margin-left: 6px;
    margin-right: 11px;
    position: relative;
    top: 8px;
    padding: 0;
}
.tabs .jdradio {
    margin-top: -3px;
    float: left;
}
.list-bank img {
    cursor: pointer;
    float: left;
}
.mc table {
    border-collapse: collapse;
    margin-top: 15px;
    margin-bottom: 15px;
    color: #000000;
}
.list-bank {
    overflow: hidden;
}
table {
    empty-cells: show;
}
.mc table tr th.aa {
    border-left: solid 1px #dedede;
}
.mc table tr th {
    font-weight: normal;
    background: #f0f0f0;
    padding: 5px 10px;
    border-top: solid 1px #dedede;
}
.mc table tr td {
    border: solid 1px #dedede;
    padding: 7px 10px;
}
.subtit {
    font-weight: normal;
    margin-bottom: 17px;
    font-size: 12px;
    padding-left: 5px;
}
.mc .btn001 {
    background: url(../images/btn007.png) no-repeat;
    width: 156px;
    height: 34px;
    border: none;
    margin-left: 5px;
    cursor: pointer;
}
.mc .btn003 {
    background: url(../images/xiu.png) no-repeat;
    width: 116px;
    height: 34px;
    border: none;
    margin-left: 10px;
    cursor: pointer;
}
.mc .list-bank .select {
    border: 2px solid #e4393c;
    padding: 5px;
}
.hide_table{
    display: none;
}
